
@media (max-width: 640px) {
    header {
      height: 59px;
      padding: 10px 0;
    }
  
    header h1 a {
      width: 125px;
      height: 21px;
    }
  
    header h2 {
      background-size: 28px;
    }
  
    .wrapper {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
    .visual .visual_txt .tit {
      font-size: 28px;
    }
    .visual .visual_txt .con {
      margin: 20px 0 40px;
      font-size: 17px;
    }
    .business_entity .fix_txtwrap h3 {
      font-size: 24px;
    }

    h3 {
      font-size : 20px;
      margin-bottom: 24px;

     
    }
  
    .business_entity .fix_txtwrap h3.h4{
      font-size : 18px!important;
      line-height: 28px!important;
    }

    .business_entity .fix_txtwrap ul{
      margin : 0;
    }

    .business_entity .fix_txtwrap ul li {
      width : 100%;
      margin : 40px 0 0 0;
    }

    .business_entity .fix_txtwrap ul li.thumb {
      height : 100%;
    }

  }
  